/*Default Styles*/
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 outline: none;
 font-family: 'Inter', sans-serif;
}

html{
 font-size: 62.5%;
}
/*End of Default Styles*/

/*Container*/
.container {
 width: 100%;
 height: 100%;
 background-color: #ffffff;
}

/*Header*/
header{
 width:100%;
 height: 100vh;
 position: relative;
}

/*Backgrounds*/
.backgrounds div{
 position: absolute;
}

.bg-main{
 width: 150%;
 height: 150%;
}

.bg-1{

}

.bg-2{

}

